vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Dec 2013 03:43:38 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|31 Dec 2013 03:43:38 -0000
vti_filesize:IR|285
vti_cachedlinkinfo:VX|S|utm.eot S|utm.eot S|utm.woff S|utm.ttf S|utm.svg
vti_cachedsvcrellinks:VX|FSUS|webfonts/utm.eot FSUS|webfonts/utm.eot FSUS|webfonts/utm.woff FSUS|webfonts/utm.ttf FSUS|webfonts/utm.svg
vti_backlinkinfo:VX|
