vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Jan 2014 05:28:21 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|02 Jan 2014 05:28:21 -0000
vti_filesize:IR|7677
vti_cachedlinkinfo:VX|S|webfonts/utm.eot S|webfonts/utm.eot S|webfonts/utm.woff S|webfonts/utm.ttf S|webfonts/utm.svg S|images/bg/bd_shadow_bl.png
vti_cachedsvcrellinks:VX|FSUS|webfonts/utm.eot FSUS|webfonts/utm.eot FSUS|webfonts/utm.woff FSUS|webfonts/utm.ttf FSUS|webfonts/utm.svg FSUS|images/bg/bd_shadow_bl.png
vti_backlinkinfo:VX|
